<ng-container>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="mb-3">
    <input type="string" class="form-control" id="country" formControlName="country" aria-describedby="emailHelp" placeholder="enter country">
  </div>
  <div class="mb-3">
    <input type="string" class="form-control" id="bank" formControlName="bank" placeholder="bank">
  </div>
  <div class="mb-3">
    <input type="string" class="form-control" formControlName="branch" id="branch" placeholder="branch">
  </div>
  <div class="mb-3">
    <input type="string" class="form-control" id="account" formControlName="account" placeholder="account">
  </div>
  <div class="mb-3">
    <input type="file" class="form-control" id="bank-auth" formControlName="bankAuth" placeholder="Upload Bank Certification">
  </div>
  <div class="mb-3">
    <input type="string" class="form-control" id="id" formControlName="nationalId" placeholder="Enter national id">
  </div>
  <button type="submit" class="btn">Add Credit Card</button>
  <div>
    <button type="button" class="btn btn-primary">Previous</button>
    <button type="submit" class="btn btn-primary" [disabled]="disabled">Done</button>
  </div>
    </form>
</ng-container>