<ng-container>
    <div>Enter Credit Card</div>
    <div>
        <svg></svg>
        <svg></svg>
        <svg></svg>
        <svg></svg>
    </div>
    <form>
        <div>
        <input type="text" formControlName="number" placeholder="Enter Card Number" required>
        <section>
            <input type="text" formControlName="exDate" placeholder="Enter Expire Date" required>
            <input type="text" formControlName="ccv" placeholder="Enter CCV" required>
        </section>
        <input type="text" formControlName="nationalId" placeholder="Enter Id Number" required>
    </div>
    </form>
</ng-container>